# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist

# misc
.DS_Store

package-lock.json
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*